/**
 * Border Modules
 */
.border-top    { border-top: 1px solid $border-color; }
.border-right  { border-right: 1px solid $border-color; }
.border-bottom { border-bottom: 1px solid $border-color; }
.border-left   { border-left: 1px solid $border-color; }

/**
 * Spacing Classes
 */
.pt0 { padding-top: 0rem; }
.pt1 { padding-top: 1rem; }
.pt2 { padding-top: 2rem; }
.pt3 { padding-top: 3rem; }
.pt4 { padding-top: 4rem; }

.pr0 { padding-right: 0rem; }
.pr1 { padding-right: 1rem; }
.pr2 { padding-right: 2rem; }
.pr3 { padding-right: 3rem; }
.pr4 { padding-right: 4rem; }

.pb0 { padding-bottom: 0rem; }
.pb1 { padding-bottom: 1rem; }
.pb2 { padding-bottom: 2rem; }
.pb3 { padding-bottom: 3rem; }
.pb4 { padding-bottom: 4rem; }

.pl0 { padding-left: 0rem; }
.pl1 { padding-left: 1rem; }
.pl2 { padding-left: 2rem; }
.pl3 { padding-left: 3rem; }
.pl4 { padding-left: 4rem; }

.mt0 { margin-top: 0rem; }
.mt1 { margin-top: 1rem; }
.mt2 { margin-top: 2rem; }
.mt3 { margin-top: 3rem; }
.mt4 { margin-top: 4rem; }

.mr0 { margin-right: 0rem; }
.mr1 { margin-right: 1rem; }
.mr2 { margin-right: 2rem; }
.mr3 { margin-right: 3rem; }
.mr4 { margin-right: 4rem; }

.mb0 { margin-bottom: 0rem; }
.mb1 { margin-bottom: 1rem; }
.mb2 { margin-bottom: 2rem; }
.mb3 { margin-bottom: 3rem; }
.mb4 { margin-bottom: 4rem; }

.ml0 { margin-left: 0rem; }
.ml1 { margin-left: 1rem; }
.ml2 { margin-left: 2rem; }
.ml3 { margin-left: 3rem; }
.ml4 { margin-left: 4rem; }

/**
 * Background Modules
 */
.bg-primary   { background: $primary-color; }
.bg-secondary { background: $secondary-color; }