/**
 * Typography Modules
 */

// Intro Text
.intro,
.lead {
  font-size: $lead-font-size;
}

// Font Heading
.font-heading {
  font-family: $header-font-family;
}

// Font Body
.font-body {
  font-family: $body-font-family;
}

/**
 * Links
 */
.no-link {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.underlined-link {
  text-decoration: underline;
}

.uppercase  { text-transform: uppercase; }

.text-white { color: white; }

.text-light { font-weight: 300; }
.text-bold  { font-weight: 700; }