/**
 * Typography Modules
 */

/**
 * Lines & Breaks
 */
.nowrap {
  white-space: nowrap;
}

.break-word {
  word-wrap: break-word;
}

/**
 * Fonts
 */
.font-heading {
  font-family: $header-font-family;
}

.font-body {
  font-family: $body-font-family;
}

/**
 * Links
 */
.no-visible-link {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.underlined-link {
  text-decoration: underline;
}

/**
 * Text Classes
 *
 * Note: There are color classes too.
 * These are found in colors.scss
 */

// Transform
.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

// Weights
.text-light {
  font-weight: $global-weight-light;
}

.text-normal {
  font-weight: $global-weight-normal;
}

.text-bold {
  font-weight: $global-weight-bold;
}

// Sizes
.text-xsmall {
  font-size: $text-xsmall;
}

.text-small {
  font-size: $text-small;
}

.text-base,
.text-medium {
  font-size: $global-font-size;
}

.text-large {
  font-size: $text-large;
}

.text-xlarge {
  font-size: $text-xlarge;
}

.text-xxlarge {
  font-size: $text-xxlarge;
}

.text-space-2x {
    line-height: 2;
}

// Shadows
.text-shadow {
    text-shadow: 0 .1em 1.5em rgba(51, 52, 71, .8);
}

/**
 * Icon Classes
 */
.icon {}

.icon-s {
  width: 1.125rem;
  height: 1.125rem;
}

.icon-m {
  width: 2rem;
  height: 2rem;
}

.icon-l {
  width: 4rem;
  height: 4rem;
}