/**
 * General Modules, Typography Classes etc.
 */

/**
 * Page Section Modules
 */
.page-section    { padding: 2em 0 2em 0; }
.page-section-3x { padding: 3em 0 3em 0; }
.page-section-4x { padding: 4em 0 4em 0; }

// Hide Class
.hidden {
  display: none;
}

/**
 * Border Modules
 */
.border-top    { border-top: 1px solid $border-color; }
.border-right  { border-right: 1px solid $border-color; }
.border-bottom { border-bottom: 1px solid $border-color; }
.border-left   { border-left: 1px solid $border-color; }

/**
 * Clearings
 */
.clear:before,
.clear:after {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

/**
 * Some Basic Typography Extensions
 */

.intro {
  font-size: 1.2em;
}

.intro2 {
  font-size: 1.4rem;
}

// Font Heading
.font-heading {
  font-family: $header-font-family;
}

// Font Body
.font-body {
  font-family: $body-font-family;
}

/**
 * Links
 */
.no-link {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.underlined-link {
  text-decoration: underline;
}

/**
 * Spacing Classes
 */
.pt0 { padding-top: 0rem; }
.pt1 { padding-top: 1rem; }
.pt2 { padding-top: 2rem; }
.pt3 { padding-top: 3rem; }
.pt4 { padding-top: 4rem; }

.pb0 { padding-bottom: 0rem; }
.pb1 { padding-bottom: 1rem; }
.pb2 { padding-bottom: 2rem; }
.pb3 { padding-bottom: 3rem; }
.pb4 { padding-bottom: 4rem; }

.mt0 { margin-top: 0rem; }
.mt1 { margin-top: 1rem; }
.mt2 { margin-top: 2rem; }
.mt3 { margin-top: 3rem; }
.mt4 { margin-top: 4rem; }

.mb0 { margin-bottom: 0rem; }
.mb1 { margin-bottom: 1rem; }
.mb2 { margin-bottom: 2rem; }
.mb3 { margin-bottom: 3rem; }
.mb4 { margin-bottom: 4rem; }

/**
 * Background Modules
 */
.bg-primary   { background: $primary-color; }
.bg-secondary { background: $secondary-color; }

/**
 * Image Tweaks
 */
.image-rounded {
  border-radius: 50%;
}

/**
 * List Modules
 */
.inline-block-list {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    max-width: 100%;
  }
}

.separated-list {

  li {
    margin-right: 0.2rem;
  }

  li:after {
    content: ' | ';
    opacity: 0.8;
    font-size: 90%;
    margin-left: 0.1rem;
  }

  li:last-child:after {
    content: '';
  }
}

.no-bullets {
  list-style: none;
  margin: 0;

  ul {
    list-style: none;
  }
}

/**
 * Icon Tweaks
 */
.icon-margin-right {
  margin-right: 0.4rem;
}

/**
 * Text Classes
 */
.uppercase  { text-transform: uppercase; }

.text-white { color: white; }

.text-light { font-weight: 300; }
.text-bold  { font-weight: 700; }

/**
 * Buttons
 */
a.button {
  border-radius: $global-radius;
}

.alt-button {
  background: transparent;
  border: 2px solid $body-font-color;
  color: $body-font-color;

  &:hover {
    background: $body-font-color;
    color: white;
  }
}

.alt-button.white {
  border-color: white;
  color: white;

  &:hover {
    background: white;
    color: black;
  }
}

/**
 * Alignment
 */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Accessibility
 */
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/**
 * WordPress Captions
 */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}

.wp-caption-text {
  text-align: center;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/**
 * WordPress Galleries
 */
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}
