/**
 * Gravity Forms
 *
 * The GForms plugin and our Foundation base clash a little.
 * So we add some custom styles here to re-activated styles
 * for Gravity Forms which we previously have disabled.
 */
.gform_wrapper {
  font-family: $header-font-family;
  font-size: 1.1rem;
}

/**
 * Body
 */
.gform_body {

  ul {
    margin: 0;
    list-style: none;
  }

  .gfield {
    margin: 0 0 1.5em 0;
    clear: both;
    overflow: hidden;

    &.field_sublabel_above {

      & > .gfield_label_before_complex {
        visibility: hidden;
        height: 0;
        width: 0;
      }

    }

  }

}

.gfield_label,
.ginput_complex label {
  font-size: 1.23rem;
}

.gfield_description {
  font-size: 1.1rem;
}

/**
 * Footer
 */
.gform_footer {

  input {
    font-size: 1.2rem;
    padding: 0.75em 1.4em;
    font-weight: bold;
  }

}

/**
 * Field Types
 */

.gfield {

  input,
  textarea {
    margin: 0;
  }
}

// Complex Input
.ginput_complex {
  overflow: hidden;
}

// Checkbox
.gfield_checkbox {

  label {
    display: inline;
    font-size: 1.1rem;
    margin-left: 1em;
  }
}

/**
 * Required
 */

.gfield_required {
  color: red;
  margin-left: 0.2em;
}

/**
 * CSS Ready Classes
 */
.ginput_left,
.ginput_right,
.gf_left_half,
.gf_right_half,
.name_first,
.name_last {
  width: 48%;
  clear: none !important;

  input {
    margin: 0;
  }
}

.ginput_left,
.gf_left_half,
.name_first {
  float: left;
}

.ginput_right,
.gf_right_half,
.name_last {
  float: right;
}

textarea.medium {
  height: 100px;
}

textarea.large {
  height: 150px;
}

/**
 * Validation
 */
.validation_error {
  background: $alert-color;
  color: white;
  padding: 0.5em 1.2em;
  margin-bottom: 1rem;
}

.gfield_error {
  background: scale-color($alert-color, $lightness: 90%);
  padding: 0.5rem 1rem;
}

.gfield_description.validation_message {
  color: $alert-color;
  font-weight: bold;
  margin: 0.3em 0 0 0;
  clear: both;
}

/**
 * Honeypot
 */
.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
  display: none !important;
  position: absolute !important;
  left: -9000px;
}